<!--The content below is only a placeholder and can be replaced.-->
<div class="contenair">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h2> Posts </h2>
      <app-post-list [posts]="posts" ></app-post-list>
    </div>
  </div>
</div>

