<li [ngClass]="{'list-group-item': true,
  'list-group-item-success': item.loveIts > 0,
  'list-group-item-danger': item.loveIts < 0 }" class="">

  <div>
    <h2> {{ item.title }} </h2>
    <span class="pull-right date-right" > {{ item.created_at |  date: 'd/MM/y, h:mm a' }} </span>
  </div>
  <br />
  <p>
    {{ item.content }}
  </p>
  <p>
    <button class="btn btn-success pull-left"  (click)="onItemLoveIt()" > Love it !</button>
    <button class="btn btn-danger" (click)="onItemUnLoveIt()" style="margin-left: 10px; margin-right: 10px;"  > Don't Love it </button>
  </p>

</li>
